actionlib==1.14.0
aiohappyeyeballs==2.5.0
aiohttp==3.11.13
aiosignal==1.3.2
angles==1.9.13
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
async-timeout==5.0.1
base_local_planner==1.17.3
black==24.10.0
bondpy==1.8.6
camera-calibration-parsers==1.12.0
catkin==0.8.10
charset-normalizer==3.4.1
click==8.1.8
controller-manager==0.20.0
controller-manager-msgs==0.20.0
cv-bridge==1.16.2
docker-pycreds==0.4.0
docstring_parser==0.16
dynamic-reconfigure==1.7.3
eval_type_backport==0.2.2
frozenlist==1.5.0
fsspec==2025.2.0
gencpp==0.7.0
geneus==3.0.0
genlisp==0.4.18
genmsg==0.6.0
gennodejs==2.0.2
genpy==0.6.15
hydra-core==1.3.2
idna==3.10
image-geometry==1.16.2
interactive-markers==1.12.0
joblib==1.4.2
jsonargparse==4.37.0
laser_geometry==1.6.7
lightning==2.4.0
lightning-utilities==0.14.0
markdown-it-py==3.0.0
matplotlib==3.9.4
mdurl==0.1.2
multidict==6.1.0
munkres==1.1.4
mypy-extensions==1.0.0
nvidia-cuda-runtime-cu12==12.8.90
omegaconf==2.3.0
pandas==1.5.3
pathspec==0.12.1
platformdirs==4.3.6
propcache==0.3.0
protobuf==5.29.3
psutil==7.0.0
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.19.1
pytorch-lightning==2.5.0.post0
pytz==2025.1
requests==2.32.3
rich==13.9.4
roma==1.5.0
scikit-learn==1.6.1
sensor-msgs==1.13.1
sentry-sdk==2.22.0
setproctitle==1.3.5
tensorboardX==2.6.2.2
#tensorrt==10.0.1
#tensorrt_cu12==10.9.0.34
#tensorrt_cu12_bindings==10.9.0.34
#tensorrt_cu12_libs==10.9.0.34
threadpoolctl==3.5.0
torch==2.3.1
#torch_cluster==1.6.3
#torch_geometric==2.5.3
#torch_scatter==2.1.2
#torch_sparse==0.6.18
#torch_spline_conv==1.2.2
#torch_tensorrt
torchaudio==2.3.1
torchmetrics==1.6.2
torchvision==0.18.1
typeshed_client==2.7.0
urllib3==2.3.0
wandb==0.19.8
xacro
#xformers==0.0.27
#yarl==1.18.3
